.wrapperInfoLine{
    display: flex;
    flex-direction: row;
    background:hsl(0, 0%, 7%);
    border: 1px dashed rgb(70, 70, 70);
    color: rgb(163, 163, 163);
    padding: 2px;
    height: 22px;
}
.infos{
    display: flex;
    flex-direction: row;
    font-size: small;
    

}