
.buttonCsv {
padding: 0.5em 1em;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.4s;
cursor: pointer;
border: 2px solid #4c77af;
border-radius: 0.5em;
background-color: #4c77af;
color: white;
height: fit-content;
width: 120px;
}

.buttonCsv:hover {
    background-color: white; 
    color: black; 
}

.hidden {
    display: none;
  }

 .reset{
    margin: 0%;
    padding: 0%;
  }