.wrapperTable{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: rgb(31, 31, 31);
  color: rgb(211, 211, 211);
}

.modified{
    background-color: green;
}

table {
    border-collapse: separate;
    font-family: Arial, Helvetica, sans-serif;

    width: 100%;
    text-align: left;
    
  }
  
  .coordsTr , .coordsTr td{
    border: 1px solid rgb(124, 124, 124) ;
  }


  table tr:nth-child(even){
    background-color: #3a3a3a;
    color:rgb(211, 211, 211);
    
  }
  
  table tr:hover {
      background-color: rgb(218, 218, 218);
      color: black;
      
    }

  #titles th , #titles tr {
    position: sticky;
    top: 0; /* Don't forget this, required for the stickiness */
    border: 1px solid rgb(124, 124, 124) ;
    background-color: #288555;
    color: rgb(26, 26, 26);
    padding: 5px;


    
  }

  #wrapperDatas{
    width: 100%;
    overflow-y: scroll  ;   
  }
