.bar{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background: rgb(36, 36, 36);
    padding: 10px 0 0 18px ;

}

.menu{
    color:rgb(208, 208, 208);
    margin: 0.5em;
    padding: 0.5em;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;  
}
.rc-menu-container{
    color: brown;
}

.my-menu {
    border: 2px solid #dc3545;
    border-radius: 0;
    box-shadow: none;
}

.my-menuitem {
    color: blue;
    background-color: #ee1;
}

.my-menuitem-hover {
    color: #ee1;
    background-color: #bf4080;
}

.my-menuitem-active {
    background-color: #333;
}