
.drag-handle{
  display: flex;
  justify-content: space-between;
  background-color: rgb(53, 56, 67);
  height: 20px;
  border-radius: 20px 20px 0 0 ;
    
}

.icons-controls{
  width: 55px;
  float: right;
  margin-right: 20px;
  display:flex;
  justify-content: space-between;
  color:rgb(50, 146, 77)
  
}

h1{
  margin:  0  0  0 30px;
  color: rgb(211, 211, 211);
  font-size: 13px;
}